*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
      
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
    }
        #navbar{
            background-color: white !important;

            a.navbar-brand{
                font-weight: 600;
                font-size: 2rem;
            }
            a{
                color: black;
                font-size: 1.125rem;
            }

            .container-fluid>a{
                padding-left: 12rem;

            }

            .ul-fix{
                width: 64%;
                justify-content: space-around;
                padding-right: 5rem;
            }


        }

        main{
            .carousel-inner{
                max-height: 90vh;

                .carousel-caption {

                    color: black;
                    top: 20%;
                    left: 20%;

                    h2{
                        font-size: 4rem;
                        font-weight: 800;
                        letter-spacing: 5px;
                    }

                    p{
                        padding: 3rem 0;
                        font-size: 1.725rem;
                        letter-spacing: 5px;
                        font-weight: 800;
                    }
                }
            }
            .row{
               align-items: flex-end;

                .card1{
                    position: relative;
                    height: 240px;
                    width: auto;
                    .circle-img{
                        position: relative;
                        top: 15%;
                        left: 30%;
                        height: 100px;
                        width: 100px;
                        clip-path: circle();
                        transition: 1s ease;
                        margin-bottom: 1rem;
                    }   
                    .content{
                        padding: 2rem 0;
                        text-transform: uppercase;

                        h2{
                            padding: 1rem 0;
                           font-size: 1.725rem;
                        }
                        p{
                            font-size: 1.125rem;
                        }
                    }

                    &:hover{
                        .circle-img{
                           background-color:  #e4b2d6;
                        }
                    }
                }
           }

           #grid{
               padding: 6rem 0;
               .container-fluid{
                    height: 100%;
                    width: 80%;
                    .row{
                
                    
                        .col-lg-8.main-left{
                            
                            
                            .col-lg-6.left{
                                .img-container1{
                                    display: flex;
                                    align-items: flex-end;
                                    max-width: 100%;
                                    background-image: url(./top-left.webp);
                                    background-position: center center;
                                    background-size: cover;
                                    height: 250px;
            
                                    p{
                                        color: white;
                                        font-size: 1rem;
                                        margin: 0;
                                        padding: .125rem .725rem;
                                        
                                        background-color: #82ae46;
                                    }
                                }
                                .img-container2{
                                    display: flex;
                                    align-items: flex-end;
                                    max-width: 100%;
                                    background-image: url(./bot-left.webp);
                                    background-position: center center;
                                    background-size: cover;
                                    height: 250px;
            
                                    p{
                                        color: white;
                                        font-size: 1rem;
                                        margin: 0;
                                        padding: .125rem .725rem;
                                        
                                        background-color: #82ae46;
                                    }
                                }
                            }
                            .col-lg-6.right{
                            align-self: stretch;
    
                            .bg-image-wrapper{
                                height: 100%;
                                width: 100%;
                                background-image: url(./middle.webp);
                                background-position: center center;
                                background-size: cover;
    
                                .text-wrapper{
                                    text-align: center;
                                    h2{
                                        color: #82ae46;
                                        font-weight: 600;
                                    }
                                    p{
                                        font-size: 1.125rem;
                                        padding: .725rem 0;
                                    }
                                    p.p1{
                                        padding: .25rem .725rem;
                                        display: inline-block;
                                        background-color: #82ae46;
                                        border: 1px solid #82ae46;
                                        color: white;
                                        border-radius: 5rem;
                                        cursor: pointer;
                                    }
                                }
                            }
                            }
                            
                        }
                        .col-lg-4.main-right{
    
                            .img-container{
                                display: flex;
                                align-items: flex-end;
                                max-width: 100%;
                                background-image: url(./greenjuice.webp);
                                background-position: center;
                                background-size: cover;
                                height: 250px;
        
                                p{
                                    color: white;
                                    font-size: 1rem;
                                    margin: 0;
                                    padding: .125rem .725rem;
                                    
                                    background-color: #82ae46;
                                }
                            }
                            .img-container3{
                                display: flex;
                                align-items: flex-end;
                                max-width: 100%;
                                background-image: url(./bot-right.webp);
                                background-position: center;
                                background-size: cover;
                                height: 250px;
        
                                p{
                                    color: white;
                                    font-size: 1rem;
                                    margin: 0;
                                    padding: .125rem .725rem;
                                    background-color: #82ae46;
                                }
                            }
                        }
                    }
               } 
              
           }

           #products{
                .products-content {
                    p.fp{
                        color: #82ae46;
                        font-family: cursive;
                        font-size: 1.325rem;
                    }
                    h1{
                        font-size: 2.225rem;
                        font-weight: 800;
                      
                    }
                    p.last{
                        font: 1em sans-serif;
                        color: lightgray;
                        letter-spacing: 2px;
                    }
                }
               .card-cont{
                   margin: 1rem 0;
                   border: 2px solid lightgray;
                   position: relative;

                   span{
                       position: absolute;
                       top: 0;
                       left: 0;
                       background-color: #82ae46;
                       padding: .325rem;
                   }
                   .product-img img{
                       transform: scale(.725);
                       max-width: 100%;
                       max-height: 100%;
                       transition: .5s ease;
                   }
                   .card-contents{
                       position: relative;
                        padding: 0.5rem 3rem;
                        
                        h2{
                            padding-left: 3.325rem;
                            padding-bottom: 1rem;
                            font-size: 1.125rem;
                            letter-spacing: 1px;
                        }
                        p{
                            transition: .5s ease-in-out;
                            display: inline-block;
                            letter-spacing: 2px;
                            margin-left: 1rem;
                        }
                        p.cancle{
                            font-weight: 500;
                            color: lightgray;
                            font-size: 1rem;
                            text-decoration: line-through;
                        }
                        p.real{
                            color: #82ae46;
                            padding-left: .525rem;
                        }
                        
                   }

                   .hidden-content{

                        position: absolute;
                        top: 82%;
                        left: 4rem;
                        // display: flex;
                        display: none;
                        justify-content: center;
                        align-content: center;

                            div{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 50px;
                                width: 50px;
                                clip-path: circle();
                                background-color:#82ae46 ;
                                cursor: pointer;
                                
                            }
                    }


                   &:hover{
                       .product-img img{
                            transform: scale(1);
                       }
                      .hidden-content{
                          display: flex;
                      }
                      .card-contents{
                          p{
                            opacity: 0;
                          }
                         
                      }
                      
                   }
                   
               }

           }

           #DoD{
               .container-fluid{
                //    height: 100vh;
                   margin: 4rem 0;
                   background-image: url(./DoDbg.webp);
                   background-size: cover;
                   background-attachment: fixed;
                   background-position: center center;

                   .contentDod{
                       padding: 5rem;
                       span{
                           font-weight: 600;
                           font-size: 1.125rem;
                           color: #82ae46;
                       }
                       h1.anim{
                           cursor: pointer;
                           position: relative;
                           margin: 2rem 0;
                           font-size: 2.725rem;
                           font-weight: 800;
                           

                           &::after{
                               position: absolute;
                               content: '';
                               height: 5px;
                               width: 5%;
                               bottom: -10px;
                               left: 0;
                               
                               background-color: #82ae46;
                               transition: all 1s cubic-bezier(1,-0.4,.13,1.15);
                               //dont know what the fuck this does just trying out things
                               transform-origin: center;
                               transform: translateX(0%);
                               

                           }

                           &:hover::after{
                                
                                width: 40%;
                                transform: translateX(50%);
                           }
                       }
                       p{
                           font-size: 1.125rem;
                           font-weight: 500;
                           color: darkgray;
                       }
                       p>a{
                           text-decoration: none;
                       }
                       p a span{
                           font-size: 3rem;
                           color: rgba(161, 141, 141, 0.633);
                           font-weight: 800;
                           text-shadow: 2px 2px #58f3ada5;
                      
                       }
                    
                   }
               }
           }
           #testomonial{
               .container-fluid{
                    margin: 3rem 0;
                    
                    .test-content{
                        span{
                            font-size: 1.325rem;
                            font-weight: 600;
                            color: #82ae46;
                        }
                        h1{
                            font-size: 2.225rem;
                            font-weight: 800;
                            padding: 1rem 0;
                        }
                        p{  
                            color: darkgray;
                            font-weight: 500;
                            font-size: 1.125rem;
                            width: 100%;
                            padding: 0 5rem;
                        }
                    }
               }
               

              
           }
           #logos{
            padding: 3rem 0;
               .container{
                   display: flex;
                    width: 100%;
                    justify-content: space-around;
                   .contn{
                    
                    width: 100%;
                    height: 100%;
    
                    .log{
                    
                        padding: 0 2rem;
        
                        img{
                            max-width: 100%;
                        }
                    }
    
                }
                  
               }
           

            

           }

           #suscribe{
            background-color: #f7f6f2;
               .all-contents{
                    padding: 3rem 0;

                    .left-c {
                        text-align: left;
                    }
                    .left-c h2{
                        font-size: 1.725rem;
                        padding: 1rem 0;
                    }

                    .left-c p{
                        font-size: 1.125rem;
                        color: gray;
                    }

                    .right-c{
                        align-self: center;
                        .rel-cont{
                            position: relative;
                            
                            input[type="email"]{
                                text-align: center;
                                width: 70%;
                                height: 50px;
                                border: none;

                                &::placeholder{
                                    text-align: left;
                                    font-weight: 500;
                                    color: black;
                                }
                                &:focus{
                                   outline: none;
                                   
                                }
                            }
                            button[type="submit"]{
                                position: absolute;
                                top: 0;
                                right: 0;
                                z-index: 2;
                                font-weight: 500;
                                color: white;
                                padding: 0 1rem;
                                height: 50px;
                                border: none;
                                background-color: #82ae46;
                                transform: translateX(-10rem);

                            }

                        }
                    }
               }
           }
        }
   
    
