@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  background-color: white !important;
}

#navbar a.navbar-brand {
  font-weight: 600;
  font-size: 2rem;
}

#navbar a {
  color: black;
  font-size: 1.125rem;
}

#navbar .container-fluid > a {
  padding-left: 12rem;
}

#navbar .ul-fix {
  width: 64%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 5rem;
}

main .carousel-inner {
  max-height: 90vh;
}

main .carousel-inner .carousel-caption {
  color: black;
  top: 20%;
  left: 20%;
}

main .carousel-inner .carousel-caption h2 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 5px;
}

main .carousel-inner .carousel-caption p {
  padding: 3rem 0;
  font-size: 1.725rem;
  letter-spacing: 5px;
  font-weight: 800;
}

main .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .row .card1 {
  position: relative;
  height: 240px;
  width: auto;
}

main .row .card1 .circle-img {
  position: relative;
  top: 15%;
  left: 30%;
  height: 100px;
  width: 100px;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin-bottom: 1rem;
}

main .row .card1 .content {
  padding: 2rem 0;
  text-transform: uppercase;
}

main .row .card1 .content h2 {
  padding: 1rem 0;
  font-size: 1.725rem;
}

main .row .card1 .content p {
  font-size: 1.125rem;
}

main .row .card1:hover .circle-img {
  background-color: #e4b2d6;
}

main #grid {
  padding: 6rem 0;
}

main #grid .container-fluid {
  height: 100%;
  width: 80%;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.left .img-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  background-image: url(./top-left.webp);
  background-position: center center;
  background-size: cover;
  height: 250px;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.left .img-container1 p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: .125rem .725rem;
  background-color: #82ae46;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.left .img-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  background-image: url(./bot-left.webp);
  background-position: center center;
  background-size: cover;
  height: 250px;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.left .img-container2 p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: .125rem .725rem;
  background-color: #82ae46;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper {
  height: 100%;
  width: 100%;
  background-image: url(./middle.webp);
  background-position: center center;
  background-size: cover;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper .text-wrapper {
  text-align: center;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper .text-wrapper h2 {
  color: #82ae46;
  font-weight: 600;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper .text-wrapper p {
  font-size: 1.125rem;
  padding: .725rem 0;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper .text-wrapper p.p1 {
  padding: .25rem .725rem;
  display: inline-block;
  background-color: #82ae46;
  border: 1px solid #82ae46;
  color: white;
  border-radius: 5rem;
  cursor: pointer;
}

main #grid .container-fluid .row .col-lg-4.main-right .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  background-image: url(./greenjuice.webp);
  background-position: center;
  background-size: cover;
  height: 250px;
}

main #grid .container-fluid .row .col-lg-4.main-right .img-container p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: .125rem .725rem;
  background-color: #82ae46;
}

main #grid .container-fluid .row .col-lg-4.main-right .img-container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  background-image: url(./bot-right.webp);
  background-position: center;
  background-size: cover;
  height: 250px;
}

main #grid .container-fluid .row .col-lg-4.main-right .img-container3 p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: .125rem .725rem;
  background-color: #82ae46;
}

main #products .products-content p.fp {
  color: #82ae46;
  font-family: cursive;
  font-size: 1.325rem;
}

main #products .products-content h1 {
  font-size: 2.225rem;
  font-weight: 800;
}

main #products .products-content p.last {
  font: 1em sans-serif;
  color: lightgray;
  letter-spacing: 2px;
}

main #products .card-cont {
  margin: 1rem 0;
  border: 2px solid lightgray;
  position: relative;
}

main #products .card-cont span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #82ae46;
  padding: .325rem;
}

main #products .card-cont .product-img img {
  -webkit-transform: scale(0.725);
          transform: scale(0.725);
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

main #products .card-cont .card-contents {
  position: relative;
  padding: 0.5rem 3rem;
}

main #products .card-cont .card-contents h2 {
  padding-left: 3.325rem;
  padding-bottom: 1rem;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

main #products .card-cont .card-contents p {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  display: inline-block;
  letter-spacing: 2px;
  margin-left: 1rem;
}

main #products .card-cont .card-contents p.cancle {
  font-weight: 500;
  color: lightgray;
  font-size: 1rem;
  text-decoration: line-through;
}

main #products .card-cont .card-contents p.real {
  color: #82ae46;
  padding-left: .525rem;
}

main #products .card-cont .hidden-content {
  position: absolute;
  top: 82%;
  left: 4rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main #products .card-cont .hidden-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  -webkit-clip-path: circle();
          clip-path: circle();
  background-color: #82ae46;
  cursor: pointer;
}

main #products .card-cont:hover .product-img img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main #products .card-cont:hover .hidden-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #products .card-cont:hover .card-contents p {
  opacity: 0;
}

main #DoD .container-fluid {
  margin: 4rem 0;
  background-image: url(./DoDbg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

main #DoD .container-fluid .contentDod {
  padding: 5rem;
}

main #DoD .container-fluid .contentDod span {
  font-weight: 600;
  font-size: 1.125rem;
  color: #82ae46;
}

main #DoD .container-fluid .contentDod h1.anim {
  cursor: pointer;
  position: relative;
  margin: 2rem 0;
  font-size: 2.725rem;
  font-weight: 800;
}

main #DoD .container-fluid .contentDod h1.anim::after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5%;
  bottom: -10px;
  left: 0;
  background-color: #82ae46;
  -webkit-transition: all 1s cubic-bezier(1, -0.4, 0.13, 1.15);
  transition: all 1s cubic-bezier(1, -0.4, 0.13, 1.15);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

main #DoD .container-fluid .contentDod h1.anim:hover::after {
  width: 40%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

main #DoD .container-fluid .contentDod p {
  font-size: 1.125rem;
  font-weight: 500;
  color: darkgray;
}

main #DoD .container-fluid .contentDod p > a {
  text-decoration: none;
}

main #DoD .container-fluid .contentDod p a span {
  font-size: 3rem;
  color: rgba(161, 141, 141, 0.633);
  font-weight: 800;
  text-shadow: 2px 2px #58f3ada5;
}

main #testomonial .container-fluid {
  margin: 3rem 0;
}

main #testomonial .container-fluid .test-content span {
  font-size: 1.325rem;
  font-weight: 600;
  color: #82ae46;
}

main #testomonial .container-fluid .test-content h1 {
  font-size: 2.225rem;
  font-weight: 800;
  padding: 1rem 0;
}

main #testomonial .container-fluid .test-content p {
  color: darkgray;
  font-weight: 500;
  font-size: 1.125rem;
  width: 100%;
  padding: 0 5rem;
}

main #logos {
  padding: 3rem 0;
}

main #logos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #logos .container .contn {
  width: 100%;
  height: 100%;
}

main #logos .container .contn .log {
  padding: 0 2rem;
}

main #logos .container .contn .log img {
  max-width: 100%;
}

main #suscribe {
  background-color: #f7f6f2;
}

main #suscribe .all-contents {
  padding: 3rem 0;
}

main #suscribe .all-contents .left-c {
  text-align: left;
}

main #suscribe .all-contents .left-c h2 {
  font-size: 1.725rem;
  padding: 1rem 0;
}

main #suscribe .all-contents .left-c p {
  font-size: 1.125rem;
  color: gray;
}

main #suscribe .all-contents .right-c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main #suscribe .all-contents .right-c .rel-cont {
  position: relative;
}

main #suscribe .all-contents .right-c .rel-cont input[type="email"] {
  text-align: center;
  width: 70%;
  height: 50px;
  border: none;
}

main #suscribe .all-contents .right-c .rel-cont input[type="email"]::-webkit-input-placeholder {
  text-align: left;
  font-weight: 500;
  color: black;
}

main #suscribe .all-contents .right-c .rel-cont input[type="email"]:-ms-input-placeholder {
  text-align: left;
  font-weight: 500;
  color: black;
}

main #suscribe .all-contents .right-c .rel-cont input[type="email"]::-ms-input-placeholder {
  text-align: left;
  font-weight: 500;
  color: black;
}

main #suscribe .all-contents .right-c .rel-cont input[type="email"]::placeholder {
  text-align: left;
  font-weight: 500;
  color: black;
}

main #suscribe .all-contents .right-c .rel-cont input[type="email"]:focus {
  outline: none;
}

main #suscribe .all-contents .right-c .rel-cont button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-weight: 500;
  color: white;
  padding: 0 1rem;
  height: 50px;
  border: none;
  background-color: #82ae46;
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
}
/*# sourceMappingURL=new.css.map */