@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  background-color: white !important;
}

#navbar a.navbar-brand {
  font-weight: 600;
  font-size: 2.125rem;
}

#navbar a {
  color: black;
  font-size: 1.25rem;
}

#navbar .container-fluid > a {
  padding-left: 12rem;
}

#navbar .ul-fix {
  width: 64%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 5rem;
}

main .carousel-inner {
  max-height: 90vh;
}

main .carousel-inner .carousel-caption {
  color: black;
  top: 20%;
  left: 20%;
}

main .carousel-inner .carousel-caption h2 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 5px;
}

main .carousel-inner .carousel-caption p {
  padding: 3rem 0;
  font-size: 1.725rem;
  letter-spacing: 5px;
  font-weight: 800;
}

main .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .row .card1 {
  position: relative;
  height: 240px;
  width: auto;
}

main .row .card1 .circle-img {
  position: relative;
  top: 15%;
  left: 30%;
  height: 100px;
  width: 100px;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin-bottom: 1rem;
}

main .row .card1 .content {
  padding: 2rem 0;
  text-transform: uppercase;
}

main .row .card1 .content h2 {
  padding: 1rem 0;
  font-size: 1.725rem;
}

main .row .card1 .content p {
  font-size: 1.125rem;
}

main .row .card1:hover .circle-img {
  background-color: #e4b2d6;
}

main #grid {
  padding: 6rem 0;
}

main #grid .container-fluid {
  height: 100%;
  width: 80%;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.left .img-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  background-image: url(./top-left.webp);
  background-position: center center;
  background-size: cover;
  height: 250px;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.left .img-container1 p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: .125rem .725rem;
  background-color: #82ae46;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.left .img-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  background-image: url(./bot-left.webp);
  background-position: center center;
  background-size: cover;
  height: 250px;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.left .img-container2 p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: .125rem .725rem;
  background-color: #82ae46;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper {
  height: 100%;
  width: 100%;
  background-image: url(./middle.webp);
  background-position: center center;
  background-size: cover;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper .text-wrapper {
  text-align: center;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper .text-wrapper h2 {
  color: #82ae46;
  font-weight: 600;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper .text-wrapper p {
  font-size: 1.125rem;
  padding: .725rem 0;
}

main #grid .container-fluid .row .col-lg-8.main-left .col-lg-6.right .bg-image-wrapper .text-wrapper p.p1 {
  padding: .25rem .725rem;
  display: inline-block;
  background-color: #82ae46;
  border: 1px solid #82ae46;
  color: white;
  border-radius: 5rem;
  cursor: pointer;
}

main #grid .container-fluid .row .col-lg-4.main-right .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  background-image: url(./greenjuice.webp);
  background-position: center;
  background-size: cover;
  height: 250px;
}

main #grid .container-fluid .row .col-lg-4.main-right .img-container p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: .125rem .725rem;
  background-color: #82ae46;
}

main #grid .container-fluid .row .col-lg-4.main-right .img-container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  background-image: url(./bot-right.webp);
  background-position: center;
  background-size: cover;
  height: 250px;
}

main #grid .container-fluid .row .col-lg-4.main-right .img-container3 p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: .125rem .725rem;
  background-color: #82ae46;
}
/*# sourceMappingURL=new.css.map */