@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
#p1-product{
    color: white;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url(/p1-product/jumbo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    // height: 60vh;

    .contents{
        text-align: center;
        margin-top: 5rem;
        padding: 200px 0;

        h1{
            // padding: 2rem 0
            margin-top: 2rem;
            font-size: 800;
            font-size: 5.725rem;
            letter-spacing: 5px;
        }
        nav{
          ol{
              display: flex;
              justify-content: center;
              
              .breadcrumb-item+.breadcrumb-item::before {
                  color: white;
                  padding: 0 0.725rem;
              }

              li{
                  padding: 2rem 0;
                  font-size: 2.125rem;
                  color: white;

                  a{
                      text-decoration: none;
                      color: white;
                  }
              }

              li.default{

                    a{
                        
                        position: relative;
                        z-index: 9999;

                        &::after{
                            position: absolute;
                            content: '';
                            width: 30%;
                            height: 5px;
                            bottom: 0;
                            left:-5px;
                            background-color: #83ae46c1 ;
                            transition: all 1s cubic-bezier(.61,.18,0,1.1);
                            //dont know what the fuck this does just trying out things
                            // transform-origin: center;
                            // transform: translateX(0%);
                            z-index: -1;
                        }

                        &:hover::after{
                            
                            height: 100%;
                            width: 110%;
                            transform-origin: bottom left;
                            // transform: translateX(50%);
                           
                       }
                    }
                }
                
          }
        }
    }
}

#products-p1{
    
    padding: 100px 0;
    .container{
        nav{
            padding: 5rem 0;
        }
    }
    .card-cont{
        cursor: pointer;
        margin: 1rem 0;
        position: relative;
        
        .product-img{
            border: 2px solid lightgray;
            position: relative;
            height: 325px;
            .img-content{
                position: absolute;
                bottom: 0;
                left: 0;
                overflow:hidden;
                width: 100%;
                height: 0px;
                display: flex;
                transform-origin: bottom;
                opacity: 0;
                transition: all .5s ease-in-out;
                
                .cart{
                    height: 100px;
                    width: 60%;
                    background-color: #82ae46;

                    button{
                        background-color: #82ae46;
                        text-align: center;
                        // padding: 2rem 1rem;
                        color: white;
                        font-size: 1.725rem;
                        font-weight: 600;
                        border: 0;
                        margin-top: 1.5rem;
                        margin-left: 1.5rem;
                    }
                    
                }
                .cart-icons{
                    width: 40%;
                    background-color: rgba(0, 0, 0, 0.966);
                    i.search{
                      position: relative;

                      &::after{
                          position: absolute;
                          content: '';
                          top: 2.45rem;
                          left: -3rem;
                          height: 2px;
                        //   width: 5rem;
                         width: 250px;
                          background-color:#82ae46;
                      }
                    }

                    i{
                        cursor: pointer;
                        color: white;
                        font-size: 2rem;
                        display: block;
                     
                    }
                }

            
            }
        }

        .product-img img{   
            transform: scale(1);
            max-width: 100%;
        
            max-height: 100%;
            transition: .5s ease;
        }
        .card-contents{
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                margin-top: 1.525rem;
            }

            .prices{
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
            }
        }
        span{
            position: absolute;
            top: 0;
            left: 0;
            background-color: #82ae46;
            padding: .5rem 1rem;
        }

        &:hover{
            .img-content{
                // display: flex;
                height: 90px;
                opacity: 1;
            }

            .product-img img{
                transform: scale(.75);
            }
        }
    }
   
}

footer{
    background-color: #b2bec342;
}